body {font-family: Roboto, Arial, sans-serif;}
h6 { margin: 0; }
li { display: hidden; overflow: hidden; height: 55px; }
.card { border: white; display: inline-block; overflow: hidden; float: left; margin: 0.2%; width:19.2%; margin-top: 1rem; min-width: 234px; }
.card-header { height:128px }