body {font-family: Roboto, Arial, sans-serif;}
h6 { margin: 0; }
li { display: hidden; overflow: hidden; height: 55px; }
nav { padding:10px; }
.eventlist { overflow: auto; }
.card { border: white; border-top-right-radius: 1rem; border-top-left-radius: 1rem; display: inline-block; overflow: hidden; float: left; margin: 0.2%; width:19.6%; margin-top: 0.25rem; min-width: 234px; }
.card-header { height:130px }